.DS_Store
node_modules/
TeamSII/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
/App/.vs
/App/App/bin
/App/App/obj
/App/App.Android/obj
/App/App.Android/bin
/App/App.iOS/obj
/App/App.iOS/bin
/HttpProxy/.vs
/HttpProxy/packages
/HttpProxy/HttpProxy/bin
/HttpProxy/HttpProxy/obj
