@keyframes jump
  0%
    transform translateY(0)
  75%
    transform translateY(-50%)
  100%
    transform translateY(0)

@keyframes diving
  0%
    transform translateY(0)
  75%
    transform translateY(50%)
  100%
    transform translateY(0)
    
@keyframes filter-blur
  0%
    filter blur(0px)
  50%
    filter blur(5px)
  100%
    filter blur(0px)
    
@keyframes rotate
  0%
    transform rotate(0)
  100%
    transform rotate(360deg)

@keyframes light-text-blue
  0%
    text-shadow: 0 0 0px #fff,
  100%
    text-shadow: 0 0 5px #fff,
                     0 0 10px #fff,
                     0 0 15px #fff,
                     0 0 20px #87cefa,
                     0 0 35px #87cefa,
                     0 0 40px #87cefa,
                     0 0 50px #87cefa,
                     0 0 75px #87cefa;
    
@keyframes filter-gray
  0%
    filter grayscale(0%)
  100%
    filter grayscale(100%)
