@keyframes jump
  0%
    transform translateY(0)
  75%
    transform translateY(-50%)
  100%
    transform translateY(0)

@keyframes diving
  0%
    transform translateY(0)
  75%
    transform translateY(50%)
  100%
    transform translateY(0)
