@import "variable.styl"

a
  color #2c3e50
  text-decoration none

input,button[disabled]{
  cursor not-allowed
}

@media screen and (min-width 1366px)
  .block
    background-color white
    margin 15px 0
    padding 20px
    width 100%
    height auto
    &.nobg
      background transparent

  button
    width 82px
  .btn-default
    box-shadow 0px 1px 2px rgba(0,0,0,0.1)
    &hover
      box-shadow 0 1px 2px rgba(0,0,0,0.15)
  .btn-orange
    color white
    background #fa7d3c
    background -webkit-linear-gradient(top, #fa7d3c 0%,#f55f10 100%)
    background linear-gradient(top bottom, #fa7d3c 0%,#f55f10 100%)
    &hover
      background #f4722e
      background -webkit-linear-gradient(top, #f4722e 0%,#f05807 100%)
      background linear-gradient(top bottom, #f4722e 0%,#f05807 100%)

  .link
    color $color-team-sii
  .img-content
    width 100%
    display inline-block
    border 1px solid #e5e9ef
    border-radius 4px
    padding 2px
    background-position center center
    background-repeat no-repeat
    background-size cover
  .img-content-sm
    display inline-block
    width 104px
    height 104px
    border 1px solid #e5e9ef
    border-radius 4px
    padding 2px
    background-position center center
    background-repeat no-repeat
    background-size cover
    margin-right 16px

  .text-ellipsis  
    overflow hidden
    text-overflow ellipsis
    white-space nowrap

  .text-ellipsis-mul
    overflow hidden
    text-overflow ellipsis
    white-space break
    display -webkit-box
    -webkit-line-clamp 2
    -webkit-box-orient vertical

/*当屏幕尺寸小于1366px时，应用下面的CSS样式*/
@media screen and (max-width 1366px)
  .block
    background-color white
    margin 10px 0
    padding 20px
    width 100%
    height auto

  button
    width 50px
    height 18px
    line-height 18px
    padding 0 10px
    font-size 10px
  .btn-default
    box-shadow 0px 1px 2px rgba(0,0,0,0.1)
    &hover
      box-shadow 0 1px 2px rgba(0,0,0,0.15)
  .btn-orange
    color white
    background #fa7d3c
    background -webkit-linear-gradient(top, #fa7d3c 0%,#f55f10 100%)
    background linear-gradient(top bottom, #fa7d3c 0%,#f55f10 100%)
    &hover
      background #f4722e
      background -webkit-linear-gradient(top, #f4722e 0%,#f05807 100%)
      background linear-gradient(top bottom, #f4722e 0%,#f05807 100%)

  .link
    color $color-team-sii
  .img-content
    width 100%
    display inline-block
    border 1px solid #e5e9ef
    border-radius 4px
    padding 2px
    background-position center center
    background-repeat no-repeat
    background-size cover
  .img-content-sm
    display inline-block
    width 52x
    height 52px
    border 1px solid #e5e9ef
    border-radius 4px
    padding 2px
    background-position center center
    background-repeat no-repeat
    background-size cover
    margin-right 8px

  .text-ellipsis  
    overflow hidden
    text-overflow ellipsis
    white-space nowrap

  .text-ellipsis-mul
    overflow hidden
    text-overflow ellipsis
    white-space break
    display -webkit-box
    -webkit-line-clamp 2
    -webkit-box-orient vertical

  