@font-face 
  font-family: "bp-icon-font"
  src: url('../fonts/bp-icon-font.eot?2qevqt')
  src: url('../fonts/bp-icon-font.eot?2qevqt#iefix') format('embedded-opentype'),
          url('../fonts/bp-icon-font.ttf?2qevqt') format('truetype'),
          url('../fonts/bp-icon-font.woff?2qevqt') format('woff'),
          url('../fonts/bp-icon-font.svg?2qevqt#bp-icon-font') format('svg')
  font-weight: normal
  font-style: normal

[class^="bp-icon-"], [class*=" bp-icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'bp-icon-font' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

.bp-icon-font 
  font-family: "bp-icon-font" !important
  font-size: 14px
  font-style: normal
  -webkit-font-smoothing: antialiased
  -webkit-text-stroke-width: 0.2px
  -moz-osx-font-smoothing: grayscale

.bp-icon-font.icon-add:before
  content: "\E001"

.bp-icon-font.icon-btn-triangle-left:before
  content: "\E002"

.bp-icon-font.icon-btn-triangle-right:before
  content: "\E003"

.bp-icon-font.icon-close:before
  content: "\E004"

.bp-icon-font.icon-danmu-a:before
  content: "\E005"

.bp-icon-font.icon-emoji-btn:before
  content: "\E006"

.bp-icon-font.icon-gantan-01:before
  content: "\E007"

.bp-icon-font.icon-good:before
  content: "\E008"

.bp-icon-font.icon-group-dynamic:before
  content: "\E009"

.bp-icon-font.icon-information_warning:before
  content: "\E00A"

.bp-icon-font.icon-jinz-01:before
  content: "\E00B"

.bp-icon-font.icon-left-r-dynamic:before
  content: "\E00C"

.bp-icon-font.icon-link:before
  content: "\E00D"

.bp-icon-font.icon-lottery-btn:before
  content: "\E00E"

.bp-icon-font.icon-more-1:before
  content: "\E00F"

.bp-icon-font.icon-pic-btn:before
  content: "\E010"

.bp-icon-font.icon-play-a:before
  content: "\E011"

.bp-icon-font.icon-right-r-dynamic:before
  content: "\E012"

.bp-icon-font.icon-routine_processing:before
  content: "\E013"

.bp-icon-font.icon-sq-dynamic:before
  content: "\E014"

.bp-icon-font.icon-ss-dynamic:before
  content: "\E015"

.bp-icon-font.icon-top:before
  content: "\E016"

.bp-icon-font.icon-topic:before
  content: "\E017"

.bp-icon-font.icon-vote-btn:before
  content: "\E018"

.bp-icon-font.icon-bp-icon-font.html:before
  content: "\E019"

.bp-svg-icon
  font-size: 40px

.bp-svg-icon
  vertical-align: middle
  display: inline-block
  background-image: url("../fonts/bp-icon-font.svg")
  background-repeat: no-repeat
  background-size: 1em 22.8em

.bp-svg-icon.size-14
  font-size: 14px

.bp-svg-icon.size-16
  font-size: 16px

.bp-svg-icon.size-18
  font-size: 18px

.bp-svg-icon.size-24
  font-size: 24px

.bp-svg-icon.collection-4
  background-position: 0em 0em
  width: 1em
  height: 1em

.bp-svg-icon.collection-icons
  background-position: 0em -1em
  width: 1em
  height: 1em

.bp-svg-icon.comment
  background-position: 0em -2em
  width: 1em
  height: 1em

.bp-svg-icon.comment-disable
  background-position: 0em -3em
  width: 1em
  height: 1em

.bp-svg-icon.comment-hover
  background-position: 0em -4em
  width: 1em
  height: 1em

.bp-svg-icon.error
  background-position: 0em -5em
  width: 1em
  height: 1em

.bp-svg-icon.good-1
  background-position: 0em -6em
  width: 1em
  height: 1em

.bp-svg-icon.good-4
  background-position: 0em -7em
  width: 1em
  height: 1em

.bp-svg-icon.link
  background-position: 0em -8em
  width: 0.325em
  height: 0.375em

.bp-svg-icon.lottery-btn
  background-position: 0em -8.375em
  width: 0.425em
  height: 0.4em

.bp-svg-icon.radio-Selected
  background-position: 0em -8.775em
  width: 1em
  height: 1em

.bp-svg-icon.radio-default
  background-position: 0em -9.775em
  width: 1em
  height: 1em

.bp-svg-icon.renzheng-a
  background-position: 0em -10.775em
  width: 1em
  height: 1em

.bp-svg-icon.renzheng-b
  background-position: 0em -11.775em
  width: 1em
  height: 1em

.bp-svg-icon.star
  background-position: 0em -12.775em
  width: 0.375em
  height: 0.375em

.bp-svg-icon.star-empty
  background-position: 0em -13.15em
  width: 0.375em
  height: 0.375em

.bp-svg-icon.topic-add
  background-position: 0em -13.525em
  width: 0.325em
  height: 0.325em

.bp-svg-icon.topic-add-hover
  background-position: 0em -13.85em
  width: 0.325em
  height: 0.325em

.bp-svg-icon.topic-cancel
  background-position: 0em -14.175em
  width: 0.325em
  height: 0.325em

.bp-svg-icon.topic-cancel-hover
  background-position: 0em -14.5em
  width: 0.325em
  height: 0.325em

.bp-svg-icon.topic-top
  background-position: 0em -14.825em
  width: 0.325em
  height: 0.325em

.bp-svg-icon.topic-top-hover
  background-position: 0em -15.15em
  width: 0.325em
  height: 0.325em

.bp-svg-icon.transmit
  background-position: 0em -15.475em
  width: 1em
  height: 1em

.bp-svg-icon.transmit-disable
  background-position: 0em -16.475em
  width: 1em
  height: 1em

.bp-svg-icon.transmit-hover
  background-position: 0em -17.475em
  width: 1em
  height: 1em

.bp-svg-icon.vote-btn
  background-position: 0em -18.475em
  width: 0.3em
  height: 0.325em

.bp-svg-icon.zan
  background-position: 0em -18.8em
  width: 1em
  height: 1em

.bp-svg-icon.zan-a-hover
  background-position: 0em -19.8em
  width: 1em
  height: 1em

.bp-svg-icon.zan-disable
  background-position: 0em -20.8em
  width: 1em
  height: 1em

.bp-svg-icon.zan-hover
  background-position: 0em -21.8em
  width: 1em
  height: 1em
