
@media screen and (min-width 1366px)
  .flex-l-5
    flex-basis 19% 
  .flex-l-4
    flex-basis 24%
  .flex-l-3
    flex-basis 32%
  .flex-l-2
    flex-basis 49%
@media screen and (max-width 1366px) and (min-width 840px)
  .flex-m-4
    flex-basis 24%
  .flex-m-3
    flex-basis 32%
  .flex-m-2
    flex-basis 49%
@media screen and (max-width 840px) and (min-width 420px)
  .flex-s-4
    flex-basis 24%
  .flex-s-3
    flex-basis 32%
  .flex-s-2
    flex-basis 49%
@media screen and (max-width 420px)
  .flex-xs-4
    flex-basis 24%
  .flex-xs-3
    flex-basis 32%
  .flex-xs-2
    flex-basis 49%
  .flex-xs-1
    flex-basis 100%
  