.team-s2
  border-color $color-team-sii !important
.team-n2
  border-color $color-team-nii !important
.team-h2
  border-color $color-team-hii !important
.team-x
  border-color $color-team-x !important
.team-b
  border-color $color-team-b !important
.team-e
  border-color $color-team-e !important
.team-j
  border-color $color-team-j !important
.team-g
  border-color $color-team-g !important
.team-n3
  border-color $color-team-niii !important
.team-z
  border-color $color-team-z !important